samples/resources/SimpleStockQuoteService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://soap.services.samples/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             name="SimpleStockQuoteServiceService" targetNamespace="http://soap.services.samples/">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://soap.services.samples/" schemaLocation="stock.xsd"/>
        </xsd:schema>
    </types>

    <message name="getQuote">
        <part element="tns:getQuote" name="parameters"/>
    </message>
    <message name="getQuoteResponse">
        <part element="tns:getQuoteResponse" name="parameters"/>
    </message>
    <message name="getSimpleQuote">
        <part element="tns:getSimpleQuote" name="parameters"/>
    </message>
    <message name="getSimpleQuoteResponse">
        <part element="tns:getSimpleQuoteResponse" name="parameters"/>
    </message>
    <message name="getFullQuote">
        <part element="tns:getFullQuote" name="parameters"/>
    </message>
    <message name="getFullQuoteResponse">
        <part element="tns:getFullQuoteResponse" name="parameters"/>
    </message>
    <message name="getMarketActivity">
        <part element="tns:getMarketActivity" name="parameters"/>
    </message>
    <message name="getMarketActivityResponse">
        <part element="tns:getMarketActivityResponse" name="parameters"/>
    </message>
    <message name="placeOrder">
        <part element="tns:placeOrder" name="parameters"/>
    </message>
    <message name="placeOrderResponse">
        <part element="tns:placeOrderResponse" name="parameters"/>
    </message>

    <portType name="SimpleStockQuoteService">
        <operation name="getQuote">
            <input message="tns:getQuote"/>
            <output message="tns:getQuoteResponse"/>
        </operation>
        <operation name="getSimpleQuote">
            <input message="tns:getSimpleQuote"/>
            <output message="tns:getSimpleQuoteResponse"/>
        </operation>
        <operation name="getFullQuote">
            <input message="tns:getFullQuote"/>
            <output message="tns:getFullQuoteResponse"/>
        </operation>
        <operation name="getMarketActivity">
            <input message="tns:getMarketActivity"/>

            <output message="tns:getMarketActivityResponse"/>
        </operation>
        <operation name="placeOrder">
            <input message="tns:placeOrder"/>
            <output message="tns:placeOrderResponse"/>
        </operation>
    </portType>

    <binding name="SimpleStockQuoteServicePortBinding" type="tns:SimpleStockQuoteService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getQuote">
            <soap:operation soapAction="urn:getQuote"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getSimpleQuote">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getFullQuote">
            <soap:operation soapAction="urn:getFullQuote"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getMarketActivity">
            <soap:operation soapAction="urn:getMarketActivity"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="placeOrder">
            <soap:operation soapAction="urn:placeOrder"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="SimpleStockQuoteServiceService">
        <port binding="tns:SimpleStockQuoteServicePortBinding" name="SimpleStockQuoteServicePort">
            <!--<soap:address location="http://somehost:8280/somepath/someuri"/>-->
            <soap:address location="http://localhost:8280/service/jax-ws-proxy"/>
        </port>
    </service>
</definitions>
